# ignore all the backup files created by editors
*~

# things to ignore in directory Ritk/src
src/CMakeCache.txt
src/CMakeFiles/
src/cmake_install.cmake
src/Makefile
src/Ritk-prefix/
src/Ritk.so
src/ITK/
src/ITK-prefix/

# things to ignore in Ritk/src/Ritk
src/Ritk/Ritk-build/
src/Ritk/Ritk-build-dev/
src/Ritk/stamp/
src/Ritk/tmp/
