# ignore all the backup files created by editors
*~
*.so
*.o 

# things to ignore in directory ANTsR/src
src/itkMakefile
src/CMakeCache.txt
src/CMakeFiles/
src/cmake_install.cmake
src/Makefile
src/ANTsR-prefix/
src/ANTsR.so
src/ITK/
src/ITK-prefix/
src/ants/
src/itks/
src/itkb/
src/antb/
src/Atropos.o
src/ImageMath.o
src/KellyKapowski.o
src/N3BiasFieldCorrection.o
src/N4BiasFieldCorrection.o
src/ThresholdImage.o
src/TileImages.o
src/antsAffineInitializer.o
src/antsApplyTransforms.o
src/antsBinaryThresholdImageFilter.o
src/antsImage.o
src/antsImageClone.o
src/antsImageList.o
src/antsImageRead.o
src/antsImageWrite.o
src/antsMatrix.o
src/antsMotionCorr.o
src/antsPermuteAxesImageFilter.o
src/antsRegistration.o
src/antsThresholdImageFilter.o
src/itkImageR.o
src/sccan.o
src/LabelClustersUniquely.o
src/ResampleImageBySpacing.o
src/symbols.rds
# things to ignore in ANTsR/src/ANTsR
src/ANTsR/ANTsR-build/
src/ANTsR/ANTsR-build-dev/
src/ANTsR/stamp/
src/ANTsR/tmp/
inst/doc
