useDynLib(ANTsR)
exportMethods(coerce)
exportPattern("^[^.]")
import(methods)
import(Rcpp)
import(tools)
#
# importFrom( sna, gplot )
# importFrom( mFilter, cffilter )
# importFrom( wmtsa , wavShrink )
# problems from using:  abind, robustbase (lmrob.control, lmrob),
# MASS (rlm, stepAIC), d3Network, sna (gplot), glasso ...
