useDynLib(libRantsRegistration)
useDynLib(libRantsApplyTransforms)
useDynLib(libRantsImageClone)
useDynLib(libRantsImageList)
useDynLib(libRantsImage)
useDynLib(libRantsMatrix)
useDynLib(libRantsImageRead)
useDynLib(libRantsImageWrite)
useDynLib(libRantsMotionCorr)
useDynLib(libRAtropos)
useDynLib(libRImageMath)
useDynLib(libRN3BiasFieldCorrection)
useDynLib(libRN4BiasFieldCorrection)
useDynLib(libRsccan)
useDynLib(libRThresholdImage)
useDynLib(libRSmoothImage)
useDynLib(libRantsAffineInitializer)
S3method(as.data.frame, antsMatrix)
S3method(as.list, antsMatrix)
exportMethods(coerce)
exportPattern("^[[:alpha:]]+")
